* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
 header, main, footer {
    padding: 20px;
  }
  
  header {
    background-color: rgb(173, 203, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 178px;
  }

  header div img {
    width: 150px;
    }
  
  .LogoRickandMorty {
        width: 250px;
    }
      
  header ul {
    list-style: none;
    display: flex;
    gap: 80px;
  }
  
  header ul li {
    background-color: rgb(66, 201, 201);
    padding: 25px;
    border-radius: 25% 10%;
  }
  
  main {
    background-image: url("../austria.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sinopsis p {
    font-style: italic;
    font-weight: bold;
    padding: 10px;
  }

  .contenedor-grilla {
    padding: 30px;
    display: flex;
    /*flex-wrap: wrap;
    justify-content: center;*/
    width: 1290px;
    overflow-x: scroll;
  }
  
  .grilla-item {
    background-color: tomato;
    padding: 30px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .grilla-item p {
    padding: 1px;
    font-size: 68%;
  }
  .grilla-item img {
    width: 100%;
    border-radius: 50%;
  }
  
  .ver-serie {
    display: flex;
  }

  .ver-serie img {
    width: 250px;
  }

  .ver-serie div {
    text-align: center;
    margin: 80px;
  }

  footer {
    background-color: rgb(185, 111, 111);
    display: flex;
    justify-content: space-between;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer ul li {
    background-color: tomato;
    margin: 10px;
    padding: 10px;
  }
  
  footer div img{
    margin: 20px;
    width: 58px;
  }


  @media (max-width:1250px) {

    .contenedor-grilla {
      width: 1000px;
      /*overflow-x: scroll;*/
    }

  }

  @media (max-width:950px) {

    header {
      flex-direction: column;
      gap: 20px;
    }
    
    header div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    header ul {
      list-style: none;
      display: flex;
      gap: 20px;
      flex-direction: column;
      }

    .contenedor-grilla {
      width: 900px;
      /*overflow-x: scroll;*/
    }

  }
  
  @media (max-width:880px) {

    header {
      flex-direction: column;
      gap: 20px;
    }
    
    header div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    header ul {
      list-style: none;
      display: flex;
      gap: 20px;
      flex-direction: column;
      }

    .contenedor-grilla {
      width: 780px;
      /*overflow-x: scroll;*/
    }
  }
  
  @media (max-width:650px) {

    header {
      flex-direction: column;
      gap: 20px;
    }
    
    header div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    header ul {
      list-style: none;
      display: flex;
      gap: 20px;
      flex-direction: column;
    }

    .contenedor-grilla {
      width: 500px;
      /*overflow-x: scroll;*/
    }

    footer div img{
      margin: 5px;
      width: 44px;
      gap: 5px;
    

    }
  }

  @media(max-width: 480px) {
  
    header {
      flex-direction: column;
      gap: 10px;
    }
    
    header div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    header ul {
      list-style: none;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .contenedor-grilla {
      width: 400px;
      /*overflow-x: scroll;*/
    }

    footer div img{
      margin: 5px;
      width: 38px;
      gap: 5px;
 } 
}

